@model ExamsSystem.Web.ViewModels.Exams.ExamsListViewModel

@{
    this.ViewData["Title"] = "Exams";
}

<h1>@this.ViewData["Title"]</h1>

    <h2>AllExanms</h2>

@foreach (var exam in this.Model.Exams)
{
    <div>Id: @exam.Id</div>
    <div>Name: @exam.Name</div>
    <div>Description: @exam.Description</div>
    <div>Created On: @exam.CreatedOn</div>
}
<a asp-action="Create" class="btn btn-primary">Insert new</a>
